@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #22466B;
    --secondary-color: #316DBC;
    --tertiary-color: #4ECDC4;
    --contrast-color: #E9E8E8;
    --accent-color: #E2574A;
    --secondary-accent-color: #F3A83B;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
body {
    background-color: var(--contrast-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: var(--primary-color);
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img {
    max-width: 50%;
    max-height: 100%;
    height: auto;
}
.nav-header {
    display: none;
}
nav {
    background-color: var(--secondary-color);
    color: var(--contrast-color);
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 15px;
    height: 55px;
}
nav ul li {
    width: 70px;
    background-color: var(--tertiary-color);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
nav ul li:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}
a {
    text-decoration: none;
    color: var(--contrast-color);
}
nav ul li:last-child {
    background-color: var(--accent-color);
}
.iniciar-sesion, .registrar {
    background-color: var(--tertiary-color);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.iniciar-sesion:hover, .registrar:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}
main {
    background-color: var(--contrast-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}
.juego {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.letra {
    width: 55px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--contrast-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}
#letras {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(5, 60px);
    margin: 20px;
    background-color: var(--contrast-color);
}
#contenedorTeclado {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 1.2rem;
}
.filaTeclado {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.tecla {
    padding: 10px;
    border: 0;
    background-color: var(--secondary-color);
    color: var(--contrast-color);
    border-radius: 6px;
    font-size: 15px;
    transition: background 0.25s;
}
.tecla:hover {
    background-color: #73a7eb;
    transform: scale(1.1);
    transition: all 0.2s ease;
}
footer {
    background: var(--primary-color);
    color: var(--contrast-color);
    text-align: center;
    padding: 20px;
}
aside {
    background-color: #c3d6f1;
    padding: 1rem;
    list-style-type: none;
    border-radius: 10px;
    width: 80%;
    margin: 1rem auto;
}
aside .verde {
    color: var(--tertiary-color);
}
aside .naranja {
    color: var(--secondary-accent-color);
}
aside .rojo {
    color: var(--accent-color);
}
.bienvenida {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
table {
    margin: 35px;
}
th, td {
    padding: 10px;
    border-radius: 5px;
}
th {
    background-color: var(--secondary-color);
    color: var(--contrast-color);
}
td {
    border: 1px solid var(--primary-color);
    text-align: center;
}
@media (min-width: 700px) {
    header img {
        max-width: 25%;
        height: auto;
    }
    header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 5%;
    }
    .nav-main {
        display: none;
    }
    .nav-header {
        display: block;
        background-color: transparent;
        font-size: 1.3rem;
    }
    nav ul li {
        width: 130px;
    }
    #letras {
        gap: 1.2rem;
        margin: 35px;
    }
    .letra {
        width: 70px;
        height: 65px;
    }
    #contenedorTeclado {
        width: 640px;
        height: 165px;
        gap: 20px;
    }
    .filaTeclado {
        gap: 15px;
        transform: scale(1.15);
    }
    .tecla {
        width: 40px;
        height: 40px;
    }
    footer {
        margin-top: 20px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
    }
}
@media (min-width: 1024px) {
    header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 10%;
    }
    .nav-main {
        display: none;
    }
    .nav-header {
        display: block;
        background-color: transparent;
        font-size: 1.2rem;
    }
    nav ul li {
        width: 130px;
    }
    .juego {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }
    #contenedorTeclado {
        width: 620px;
    }
    aside {
        width: 390px;
        margin: 35px;
    }
    footer {
        font-size: 1.2rem;
    }
}