@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #22466B;
    --secondary-color: #316DBC;
    --tertiary-color: #4ECDC4;
    --contrast-color: #F0F0F0;
    --accent-color: #E2574A;
    --secondary-accent-color: #F3A83B;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
body {
    background-color: var(--contrast-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: var(--primary-color);
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img {
    width: 50%;
    height: 100%;
}
nav {
    background-color: var(--secondary-color);
    color: var(--contrast-color);
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    height: 55px;
}
nav ul li {
    width: 70px;
    background-color: var(--tertiary-color);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
nav ul li:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}
a {
    text-decoration: none;
    color: var(--contrast-color);
}
nav ul li:first-child {
    background-color: var(--accent-color);
}
main {
    background-color: var(--contrast-color);
    flex: 1;
}
.letra {
    width: 55px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--contrast-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}
#letras {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(5, 60px);
    margin: 20px;
    background-color: var(--contrast-color);
    justify-content: center;
    align-items: center;
}
#contenedorTeclado {
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 1.2rem;
}
.fila-teclado {
    display: flex;
    justify-content: center;
    gap: 7px;
}
.tecla {
    padding: 10px;
    border: 0;
    background-color: var(--secondary-color);
    color: var(--contrast-color);
    border-radius: 6px;
    font-size: 15px;
    transition: background 0.25s;
}
.tecla:hover {
    background-color: #73a7eb;
}
footer {
    background: var(--primary-color);
    color: var(--contrast-color);
    text-align: center;
    padding: 20px;
}