:root {
    --primary-color: #22466B;
    --secondary-color: #316DBC;
    --tertiary-color: #4ECDC4;
    --contrast-color: #F0F0F0;
    --accent-color: #E2574A;
    --secondary-accent-color: #F3A83B;
}
* {
    margin: 0;
    padding: 0;
}
header {
    background-color: var(--primary-color);
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img {
    width: 50%;
    height: 100%;
}
nav {
    background-color: var(--secondary-color);
    color: var(--contrast-color);
    
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 30px;
}
nav a {
    text-decoration: none;
    color: var(--contrast-color);
    padding: 5px;
    background-color: var(--tertiary-color);
    border-radius: 5px;
}
